.indexMain {
    background-color: #3D3737;
    background: url('../img/b-2.png');
	background-repeat: repeat;
    font-family: $primaryFont;
    font-size: 18px;
}

.navbar-header a {
    color: saddlebrown;
    font-size: 25px;
}

.navbar-custom {
    background-color: seagreen;
}

.collapse ul li a {
    color: saddlebrown;
    font-size: 25px;
}

.navbar-toggle {
    background-color: peru;
}

.contenedor_tarjeta {
    padding: 0;
    margin: 0;
   
}

// .contenedor_tarjeta a {
//     display: inline-block;
// }
.contenedor_tarjeta:hover figure {
    -webkit-transform: perspective(600px) rotateY(180deg);
    -ms-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
    -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.26);
}

figure {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    transition: all ease 1.5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
    width: 100%;
    height: 100%; // border-radius: 5px;
    transition: all ease 1.5s;
}

figure .frontal {
    display: block;
}

figure .trasera {
    position: absolute;
    top: 0;
    padding: 20px;
    color: #fff;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor_tarjeta:nth-child(1) figure .trasera {
    background: url("../img/foto5.jpg");
    width: 100%;
    zoom: 30%;
}

.contenedor_tarjeta:nth-child(2) figure .trasera {
    background: url("../img/gpostre.jpg");
   width: 100%;
   zoom: 22%;

   
}


figure .trasera p {
    color: #fff;
    font-weight: normal;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

.indexAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.ourStory {
    width: 70%;
    text-align: center;
    font-size: 20px;
    margin: 40px 0;
}

.ourStory h2 {
    font-size: 40px;
}

.ourStory:hover h2 {
    color: pink;
}

.ourStory p {
    margin: 30px 0;
}

.ourStory:hover p {
    color: saddlebrown;
}

.indexFooter {
    background-color: #43434e;
}


/*----MEDIA QUERIES ---*/

@include large {}

@include medium {
    main {
        padding-top: 40px;
    }
    figure {
        zoom: 90%;
    }
    figure .trasera {
        backface-visibility: hidden; // transform: perspective(600px) rotateY(0deg);
    }
    .contenedor_tarjeta:hover figure {
        // transform: perspective(600px) rotateY(0deg);
    }
}

@include small {
    figure {
        zoom: 70%;
    }
}

@include extraSmall {
    figure {
        zoom: 50%;
    }
}